# Kafka / Broker Credentials
BROKER_PRIMARY=BROKER_IP:9092
BROKER_SECONDARY=BROKER_IP:9092

# AWS S3 - Primary
AWS_PRIMARY_KEY=AWS_ACCESS_KEY_PLACEHOLDER
AWS_PRIMARY_SECRET=AWS_SECRET_KEY_PLACEHOLDER
AWS_PRIMARY_BUCKET=speedviolations
AWS_PRIMARY_REGION=ap-south-1
AWS_PRIMARY_ENDPOINT=http://S3_ENDPOINT:9000

# AWS S3 - Secondary
AWS_SECONDARY_KEY=AWS_ACCESS_KEY_PLACEHOLDER
AWS_SECONDARY_SECRET=AWS_SECRET_KEY_PLACEHOLDER
AWS_SECONDARY_BUCKET=arrestovideo
AWS_SECONDARY_REGION=ap-south-1
AWS_SECONDARY_ENDPOINT=http://S3_ENDPOINT:9000


