# Kafka Brokers
BROKER_PRIMARY=10.0.0.1:9092
BROKER_SECONDARY=10.0.0.2:9092
BROKER_FAILOVER_TIMEOUT=30
RESET_THRESHOLD=3000
SEND_ANALYTICS_PIPELINE=aianalytics
SEND_EVENTS_PIPELINE=svds_violation
LOG_TOPIC=error_log

# AWS S3 Primary (normal/Kafka)
AWS_PRIMARY_KEY=PRIMARY_KEY
AWS_PRIMARY_SECRET=PRIMARY_SECRET
AWS_PRIMARY_REGION=ap-south-1
AWS_PRIMARY_BUCKET_NAME=speedviolations
AWS_PRIMARY_ORG_IMG_FN=violationoriginalimages/
AWS_PRIMARY_VIDEO_FN=videoclips/
AWS_PRIMARY_CGI_FN=cgisnapshots/
AWS_PRIMARY_ENDPOINT=http://s3-primary:9000

# AWS S3 Secondary (normal/Kafka)
AWS_SECONDARY_KEY=SECONDARY_KEY
AWS_SECONDARY_SECRET=SECONDARY_SECRET
AWS_SECONDARY_REGION=ap-south-1
AWS_SECONDARY_BUCKET_NAME=arrestovideo
AWS_SECONDARY_ORG_IMG_FN=violationoriginalimages/
AWS_SECONDARY_VIDEO_FN=videoclips/
AWS_SECONDARY_CGI_FN=cgisnapshots/
AWS_SECONDARY_ENDPOINT=http://s3-secondary:9000

# API S3 or Minio (for API uploads)
API_AWS_PRIMARY_KEY=PRIMARY_KEY
API_AWS_PRIMARY_SECRET=PRIMARY_SECRET
API_AWS_PRIMARY_REGION=ap-south-1
API_AWS_PRIMARY_BUCKET_NAME=speedviolations
API_AWS_PRIMARY_ORG_IMG_FN=violationoriginalimages/
API_AWS_PRIMARY_VIDEO_FN=videoclips/
API_AWS_PRIMARY_CGI_FN=cgisnapshots/
API_AWS_PRIMARY_ENDPOINT=http://s3-primary:9000

# API S3 Secondary (optional)
API_AWS_SECONDARY_KEY=
API_AWS_SECONDARY_SECRET=
API_AWS_SECONDARY_REGION=ap-south-1
API_AWS_SECONDARY_BUCKET_NAME=
API_AWS_SECONDARY_ORG_IMG_FN=violationoriginalimages/
API_AWS_SECONDARY_VIDEO_FN=videoclips/
API_AWS_SECONDARY_CGI_FN=cgisnapshots/
API_AWS_SECONDARY_ENDPOINT=

# API POST endpoint (for form submission)
API_POST_URL=http://localhost:80/api/client/1825/mfb/forms_data

# AWS failover
S3_FAILOVER_TIMEOUT=30
S3_UPLOAD_RETRIES=3


