# Kafka Brokers
BROKER_PRIMARY=10.0.0.1:9092
BROKER_SECONDARY=10.0.0.2:9092
BROKER_FAILOVER_TIMEOUT=30
RESET_THRESHOLD=3000
SEND_ANALYTICS_PIPELINE=aianalytics
SEND_EVENTS_PIPELINE=svds_violation
LOG_TOPIC=error_log

# AWS S3 Primary
AWS_PRIMARY_KEY_ID=PRIMARY_KEY
AWS_PRIMARY_SECRET=PRIMARY_SECRET
AWS_PRIMARY_REGION=ap-south-1
AWS_PRIMARY_BUCKET=speedviolations
AWS_PRIMARY_ORG_IMG_PATH=violationoriginalimages/
AWS_PRIMARY_VIDEO_PATH=videoclips/
AWS_PRIMARY_CGI_PATH=cgisnapshots/
AWS_PRIMARY_ENDPOINT=http://s3-primary:9000

# AWS S3 Secondary
AWS_SECONDARY_KEY_ID=SECONDARY_KEY
AWS_SECONDARY_SECRET=SECONDARY_SECRET
AWS_SECONDARY_REGION=ap-south-1
AWS_SECONDARY_BUCKET=arrestovideo
AWS_SECONDARY_ORG_IMG_PATH=violationoriginalimages/
AWS_SECONDARY_VIDEO_PATH=videoclips/
AWS_SECONDARY_CGI_PATH=cgisnapshots/
AWS_SECONDARY_ENDPOINT=http://s3-secondary:9000

# AWS failover
S3_FAILOVER_TIMEOUT=30
S3_UPLOAD_RETRIES=3